.title {
  display: flex;
  &__icon {
    margin-right: 15px;
  }
}


.radio-items {
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__panel {
    border: 1px solid #DFDFE1;
    &__header {
      &__title {
        &__radiobtn {
          &__name {
            display: flex;
            flex-direction: column;
            color: #4F4F58;
          }
          &__hint {
            font-size: 12px;
          }
        }
      }
      &__desc{
        display: flex;
        justify-content: flex-end;
        &__toggle {

        }
      }
    }

    &__inside {
      margin-top: 15px;
      margin-left: 28px;
      color: #4F4F58;
      // background-color: red;
      &__row {
        display: flex;
        flex-direction: column;
        &__hint {
          font-size: small;
        }
        &__div {
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
        }
      }
    }

  }

}
