<div class="container">

  <div class="container__header">
    <div class="container__header__items">
      <mat-icon>image</mat-icon>
      <mat-icon>image</mat-icon>
      <mat-icon>image</mat-icon>
    </div>
  </div>

  <div class="container__items">


    <div class="container__items__title">
      <h1 class="container__items__title__data">Site Title</h1>
    </div>

    <div class="container__items__menu">
      <ul class="container__items__menu__list">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
        <li><a href="#">Menu 5</a></li>
      </ul>
    </div>

    <div class="container__items__slider">
      <h1>Slider / Hero Unit / Jumbo Unit</h1>
    </div>

    <div class="container__items__grid-of-containers">

      <div class="container__items__grid-of-containers__content">
        <h2>Container 1</h2>
      </div>

      <div class="container__items__grid-of-containers__content">
        <h2>Container 2</h2>
      </div>

      <div class="container__items__grid-of-containers__content">
        <h2>Container 3</h2>
      </div>

    </div>



  </div>

  <div class="container__footer">
    <span>Footer</span>
  </div>


</div>
