.container {
  background-color: #F9F9F9;
  height: 100%;
  width: 100%;

  &__title {
    padding-top: 20px;
    padding-left: 20px;
  }

  &__columns {

    // background-color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    // width: 100%;
    margin: auto;


    &__column-1 {
      border: 1px solid #F1F1F1;
      margin-left: 20px;
      width: 66%;
      height: 100%;
      background-color: #FFFFFF;
      border-radius: 5px;

      &__menu {
        // border-bottom: 2px solid rgb(223, 223, 223);
        &__items {
          // list-style: none;
          display: flex;
          justify-content: space-around;
          // padding-left: 0px;
          // padding-right: 15px;

          &__list {
            // display: flexbox;
            // width: 100%;
            // height: 100%;


          }

        }
      }

      &__body {
        margin: 20px;

      }

    }

    &__column-2 {
      margin-right: 20px;
      margin-left: 20px;
      width: 33%;
      height: 100%;
      background-color: #FFFFFF;
      border-radius: 5px;
      border: 1px solid #F1F1F1;


      &__area {

        margin: 20px;
        // border: 1px solid black;
        // display: flex;
        flex-direction: column;

        &__buttons {
          display: flex;
          justify-content: space-between;
          &__btn-1 {
            width: 150px;
            background: #DFDFE1;
            color: #4F4F58;
          }
        }

        &__img {
          display: flex;
          justify-content: center;
          // align-items: center;
          // flex-direction: column;

          &__profile {
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px solid #FF4081;
          }
        }

        &__profile-name {
          // border: 1px solid black;
          margin-top: 15px;
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: space-between;


          &__header {
            line-height:50px;
            display: flex;
            vertical-align: middle;
          }
        }

        &__location {
          // border: 1px solid black;
          display: flex;
          align-content: center;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 15px;
          &__icon {
            display: flex;

            // border: 1px solid red;
            padding-right: 20px;
          }
        }

        &__description {
          margin-top: 15px;
          padding-bottom: 15px;
          display: flex;
          flex-direction: column;
        }

        &__person-details {
          margin-top: 15px;
          display: flex;
          align-items: center;
          &__dp-image {
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          &__contact{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
          }
        }

      }



    }



  }


}
