.title {
  display: flex;
  &__icon {
    margin-right: 15px;
  }
}


.radio-items {
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__panel {
    &__header {
      &__title {
        &__radiobtn {

        }
      }
      &__desc{
        display: flex;
        justify-content: space-between;
        &__toggle {

        }
      }
    }
  }

}
